{
  "extends": "airbnb",

  "rules": {
    "comma-dangle": 0,
    "max-len": ["error", 120]
  },

  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true
  }
}
